@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
    background: #7B8D69;
 /* Permite el desplazamiento cuando los elementos no caben en la ventana */
}

.video-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

#bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    filter: blur(30px);
    opacity: 80%;
}

.login-page {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center; /* Limita el ancho máximo para mantener la responsividad */
    width: 100%;
    z-index: 2;
    justify-content: center;
}

.logo-container {
    text-align: center;
    margin : 20px;
    
}

.logo {
    width: 100%; /* Hace que el logo sea responsivo */
    max-width: 20%; /* Ajuste máximo de ancho relativo */
    min-width: 180px;
    border-radius: 50%;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
}

.form {
    font-family: "Poppins", sans-serif;
    background: rgba(255, 255, 255, 1);
    width: 100%; /* Ancho relativo */
    max-width: 280px; /* Límite máximo */
    padding: 24px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    margin-bottom: 50px; /* Agrega margen inferior para evitar solapamiento con el footer */
}

.form input {
    font-family: "Poppins", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 0px 0px 5%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

.form button {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #7B8D69;
    width: 100%;
    border: 0;
    padding: 12px;
    color: #FFFFFF;
    border-radius: 7px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #48533e;
}

.footer {
    font-family: "Poppins", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    z-index: 3;
}
